# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
env/
venv/
.env

# Data & outputs
Datasets/
Cases/
results/
model_output/

# Large ML artifacts
*.pt
*.pth
*.safetensors

# Encoded outputs
encoding/encoded_output_final/
encoding/encoded_output_legal/
encoding/legalbert_finetuned_courts/

# Tokenized data
tokenization/Tokenized_output_final/

# OS
.DS_Store
